<launch>
    <!-- urdf srdf 加载不变 -->
    <!-- <param name="robot_description" command="xacro $(find arm_ik_control)/urdf/robot.urdf.xacro"/> -->
    <param name="robot_description_semantic" textfile="$(find arm_ik_control)/config/robot.srdf"/>
    <!-- <rosparam file="$(find arm_ik_control)/config/kinematics.yaml" command="load"/> -->


    <node pkg="arm_ik_control" type="ik_control_node" name="ik_node" output="screen">
        <remap from="arm_controller/command" to="/position_trajectory_controller/command" />

        <rosparam subst_value="true">
            joint_state_topic: "/joint_states"
            action_server: "/position_trajectory_controller/follow_joint_trajectory"
         
            base_link: "base_arm"
            ee_link: "tool0"
            timeout: 0.005
            eps: 0.001
            solve_type: "Speed"  # Speed, Distance, Manip1, Manip2
            joint_delta_threshold: [1.99, 1.99, 1.99, 1.99, 1.99, 1.99]
            arrive_tolerance: 0.01
            traj_min_dur: 0.05

            arm_group_name: arm_group
            totg_path_tolerance: 0.1
            totg_resample_dt: 0.3
            totg_min_angle_change: 0.01
            collision_check: true
                        <!-- enable_ruckig_smooth: true
            ruckig_mitigate_overshoot: true
            ruckig_overshoot_thresh: 0.005 -->
            
        
            use_action: false

            use_default_target: false
                        <!-- default_target_points: [
                0.911, 1.841, 1.557, -0.045, -0.223, 0.948, 0.224,
                1.298, -0.201, 1.524, -0.027, -0.043, 0.684, 0.728,
                1.677, -0.647, 1.168, -0.037, -0.014, 0.749, 0.662
            ] -->
            <!-- default_target_points: [
                1.0, -0.450, 0.5064, 0.026, 0.006, 0.695, 0.718,
                1.298, -0.201, 1.524, -0.027, -0.043, 0.684, 0.728,
                0.911, 1.841, 1.557, -0.045, -0.223, 0.948, 0.224,
                -0.046, 1.945, 0.236, -0.002, 0.017, 1.000, -0.002,
                0.796, 2.276, 0.192, -0.005, -0.004, -0.713, 0.701
            ] -->
            default_target_points: [
    2.217500, -0.231392, 0.660018, -0.331726, -0.352875, 0.562041, 0.670483,
    2.015632, -0.231754, 0.903430, -0.331726, -0.352875, 0.562041, 0.670483,
    1.761018, 0.038946, 2.255454, -0.341798, -0.360606, 0.626549, 0.600478,
    0.296170, 1.255752, 1.600663, 0.062903, -0.082910, 0.706401, 0.700119,
    0.323879, 1.498160, 0.762818, -0.013516, -0.026806, 0.706599, 0.706978,
]
        </rosparam>

        <rosparam>
            custom_vel:
                joint_a1: 0.888
                joint_a2: 0.888
                joint_a3: 0.888
                joint_a4: 0.888
                joint_a5: 0.888
                joint_a6: 0.888
            custom_acc:
                joint_a1: 0.888
                joint_a2: 0.888
                joint_a3: 0.888
                joint_a4: 0.888
                joint_a5: 0.888
                joint_a6: 0.888
                        <!-- custom_jerk:
                joint_a1: 11.10
                joint_a2: 11.10
                joint_a3: 11.10
                joint_a4: 11.10
                joint_a5: 11.10
                joint_a6: 11.10 -->
            <!-- /ruckig/joint_a1/jerk_limit: 5.22
            /ruckig/joint_a2/jerk_limit: 5.22
            /ruckig/joint_a3/jerk_limit: 5.22
            /ruckig/joint_a4/jerk_limit: 5.22
            /ruckig/joint_a5/jerk_limit: 5.22
            /ruckig/joint_a6/jerk_limit: 5.22 -->
        </rosparam>


    </node>

</launch>